body {
    background-color: rgb(14, 78, 152);
    color: rgba(255, 166, 0, 0.939);
    margin: 0;

}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: rgba(255, 166, 0, 0.939);
    color: #222;
  text-align: center;
}


.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: darker;
}
.card-subtitle {
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-weight: normal;
}

.card-image {
    height: 180px;
}


